<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %} | MASWAE</title>
</head>
<body>
    {% load bootstrap4 %}
    {% bootstrap_css %}
    
    <div class="container">
        <nav class="navbar navbar-light bg-light">
            <span class="navbar-brand mb-0 h1">MASWAE-<small style="font-style: italic;">Multi Agent System for Accesibility Evaluation</small></span>
        </nav>
        <div class="row">
            <div class="col-12">
              <p class="alert alert-primary">Ha completado el cuestionario para establecer su perfil. Muchas gracias por registrarse.</p>
            </div>
        </div>
    </div>
</body>
</html>